{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
赤鹿小组-文章新增
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <!--请求方式POST-->
            <form method="post" action="." enctype="multipart/form-data">
             <!-- Django中需要POST数据的地方都必须有csrf_token -->
            {% csrf_token %}
            <!--文章标题-->
            <div class="form-group">
                <label for="title" style="font-size: 15px">文章标题</label>
                <input type="text" class="form-control" id="title" name="title">
                <!--文章内容输入框-->
            </div>
            <div class="form-group">
                <label for="content" style="font-size: 15px">文章内容</label>
                <textarea class="form-control" name="content" id="content" type="text" rows="12"></textarea>
            </div>
            <!--提交按钮-->
            <button type="submit" class="btn btn-primary" value="提交">提交</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
